
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <img id="perroCejas" src="../../../assets/perro.jpeg" alt="perro con cejas" width="200" height="200">
            </div>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 "> 
                <h4 > <h1>Acerca de mi</h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti corporis deserunt error, aperiam velit veritatis ipsum possimus. Eveniet molestias magnam non est oditsit vel similique natus consequuntur ducimus
               </h4>
             </div>
   </div>
    