<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
        <h1>trabajos</h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum quas, aperiam ipsam ut deserunt laboriosam facilis nihil non dolor, quos nobis, ipsum itaque expedita? Exercitationem facere dolorum quasi. Vel, repellendus.
            </li>
            <li>
         <h1>trabajos</h1> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum quas, aperiam ipsam ut deserunt laboriosam facilis nihil non dolor, quos nobis, ipsum itaque expedita? Exercitationem facere dolorum quasi. Vel, repellendus.
            </li>
        </ul>
    </div>
</div>