
<section class="row">
     
    <h3>Habilidades</h3>
    <div> 
        <p>Lorem ipsum dolor sit amet consectetur Temporibus, dolores?idades</p>
        </div>
            <div> 
              <progress  max="100" value="25" class="barraProg1" style="width:80% ;" ></progress>
        </div>
        <div> 
          <p>Lorem ipsum dolor sit amet consectetur Temporibus, dolores?idades</p>
          </div>
              <div> 
                <progress  max="100" value="25" class="barraProg1" style="width:80% ;" ></progress>
          </div>
          <div> 
            <p>Lorem ipsum dolor sit amet consectetur Temporibus, dolores?idades</p>
            </div>
                <div> 
                  <progress  max="100" value="25" class="barraProg1" style="width:80% ;"  ></progress>
            </div>
            <div> 
              <p>Lorem ipsum dolor sit amet consectetur Temporibus, dolores?idades</p>
              </div>
                  <div> 
                    <progress  max="100" value="25" class="barraProg1" style="width:80% ;" ></progress>
              </div>
              <div> 
                <p>Lorem ipsum dolor sit amet consectetur Temporibus, dolores?idades</p>
                </div>
                    <div> 
                      <progress  max="100" value="25" class="barraProg1" style="width:80% ;" ></progress>
                </div>
</section>