
<!--barra con logo de argentina programa-->
    <nav class="navbar navbar-expand-lg bg-barra">
        <div class="container-md">
            <a href="#"><img src="../../../assets/APLogo-20-20.png" alt="Argentina Programa" class="w-25"></a>
            <!--iconos de redes-->
    <ul class="list-group list-group-horizontal">
        <li id="icono"  class="list-group-item"> <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl text-white"></i></a></li>
        <li id="icono" class="list-group-item"><a href="https://github.com/"><i class="fa-brands fa-github fa-2xl text-white"></i></a></li>
        <!--boton de login-->
        <li id="icono" class="list-group-item">
        <i  data-bs-toggle="modal" data-bs-target="#login" class="fa-solid fa-user fa-2xl text-white" ></i>
      </li>
      </ul>
    </div>
  </nav>
  
  <app-banner></app-banner>
  <app-login></app-login>